*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}

.pruebaTachado{
    text-decoration: line-through;
}

.invalid{
    border: 2px solid #f08080 !important;
}

.valid{
    border: 2px solid #90ee90 !important;
}

.validations-errors{
    padding-top: 5px;
    color: red !important;
    font-size: 14px !important;
    font-style: italic !important;
}

.cart-total{
    justify-content: right;
}

.card-text{
    color: white !important;
}

/* Elementos del Body */
body{
    background: #f9f9f9 url(../img/bg.jpg);
    margin: 0px;
}

nav{
    background: url(../img/nav_bg.jpg);
    width: 100%;
    height: auto;
}

.error-msg{
    color: red;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.seccion-titulos{
    padding-top: 10px;
}

hr{
    border-color: #308781;
    height: 1px;
}

h1, h2, h3, h4, h5, h6{
    color: #308781 !important;
    font-weight: 400 !important;
}

a{
    text-decoration: none !important;
    color: white !important;
}

.float-start i{
    padding: 5px !important;
    font-size: 20px !important;
}

.btn-primary{
    margin: 10px !important;
    background-color: #308781 !important;
    border: none !important;
}


/* Elementos de navegación */
.avatar-logged{
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.nav-item-text a{
    color: #308781 !important;
    font-weight: 300;
    font-size: 18px;
    padding: 5px;
}

.dropdown-menu{
    background: #308781 url(../img/noise.png) !important;
}

.dropdown-menu a{
    color: white !important;
}

.dropdown-menu a:hover{
    color: white !important;
    background-color: cadetblue;
}

.buscador{
    background: none;
    border: none;
}

/* Elementos del footer */
.footer-links{
    color: #308781 !important;
}
.usuarios{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: #308781;
    align-items: top;
    padding-top: 5px;
    padding-right: 20px;
}

.usuarios i{
    padding: 10px;
    padding-top: 15px;
    color: #308781;
}

.product-create{
    justify-content: baseline !important;
    padding: 0px !important;
    color: #308781;
    font-size: 30px !important;
}

.redes-link{
    color: #308781;
    font-size: 30px;
}


/* Sección Nuestra Historia */
.nuestra-historia{
    text-align: center;
    font-style: italic;
}


/* Sección Tu Huella de Carbono */
.huella-detalle{
    width: 65%;
    height: 520px;
    border: 1px solid #308781;
}

.huella-imagen{
    width: 100%;
    height: auto;
}


/* Sección Video Artesanos */
.videoArtesanos-video{
    width: 100%;
    height: 405px;
}


/* Productos */
.productos{
    margin: 10px !important;
    padding: 10px !important;
    background: #308781 url(../img/noise.png) !important;
    border: 1px solid #308781;
    color: white !important;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
}

.productos-card{
    max-width: 840px;
    margin: auto !important;
    margin-bottom: 5px !important;
    padding: 10px !important;
    background: #308781 url(../img/noise.png) !important;
    border: 1px solid #308781;
    color: white !important;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
}

.productos-text{
    color:white !important;
}

.product-image-container:hover .card-img-top {-webkit-transform:scale(1.3);transform:scale(1.3);}
.product-image-container {overflow:hidden;}

.img-thumbnail{
    max-width: 100px !important;
}


/* Usuarios */
.usuarios-card{
    max-width: 540px;
    margin: auto !important;
    padding: 10px !important;
    background: #308781 url(../img/noise.png) !important;
    border: 1px solid #308781;
    color: white !important;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
}

.usuarios-imagen{
    padding: 10px;
}

.usuarios-text{
    color:white !important;
}

.comment-avatar{
    max-width: 80px;
    border-radius: 50%;
}