<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Mi Carrito</h2>
            <% console.log(user) %>
        </div>
        <hr>
        <h3 class="message-empty-cart text-center"></h3>
        <div class="container text-center products-table">
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">+</th>
                        <th scope="col">-</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody class="products-list">
                </tbody>
            </table>
            <div class="row cart-total">
                <div class="col-2"><h3>Total: $</h3></div>
                <div class="col-2"><h3 class="price-total"></h3></div>
                <div class="col-2">
                    <a href="#">
                        <button type="submit" class="btn btn-primary">Finalizar Compra</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <script src="/js/cart.js"></script>
        <%- include('../partials/bs'); %>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>