<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <div class="container-fluid">
        <div class="seccion-titulos">
            <h2>Página no encontrada</h2>
        </div>
    </div>
    <hr>
    <%- include('../partials/footer')  %>
    <%- include('../partials/bs')  %>
</body>
</html>