<div class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.939883143956!2d-58.48387538955165!3d-34.55507747285899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb69215b6aaab%3A0xcbe90dc9b728abd8!2sWashington%203664%2C%20C1430EUX%20CABA!5e0!3m2!1ses!2sar!4v1684274647778!5m2!1ses!2sar" width="250" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>MENÚ</h4>
            </div>
            <div>
                <h5><a href="/" class="footer-links">Home</h5></a>
                <h5><a href="/products/list" class="footer-links">Productos</h5></a>
                <h5>Compras</h5>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>PRODUCTOS</h4>
            </div>
            <div>
                <h5>Novedades</h5>
                <h5>Ofertas</h5>
                <h5>+ Vistos</h5>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>DESCUBRÍ</h4>
            </div>
            <div>
                <h5><a href="/nuestraHistoria" class="footer-links">Nuestra Historia</h5></a>
                <h5>Video Artesan@s</h5>
                <h5><a href="/tuHuellaDeCarbono" class="footer-links">Tu Huella de Carbono</h5></a>
            </div>
        </div>
        <div class="col-sm-2">
            <div>
                <h4>REDES</h4>
            </div>
            <div>
                <i class="fab fa-facebook-square redes_link"></i>
                <i class="fab fa-twitter-square redes_link"></i>
                <i class="fab fa-instagram-square redes_link"></i>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-4"><h6>Ayuda</h6></div>
    <div class="col-sm-4"><h6>Mimimbrería © 2023</h6></div>
    <div class="col-sm-4"><h6>Contacto</h6></div>
</div>