<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Nuestra Historia</h2>
        </div>
        <hr>
        <div class="container text-center">
            <div class="row">
                <h4>"Fundada en 1950"</h4>
                <h4>Somos descendientes de una familia italiana que inmigró al país a principios del siglo XX, plenos de sueños e ilusiones.</h4>
                <h4>Liborio, padre y fundador de la firma fue quien empezó vendiendo canastas y sillas, en un carro tirado a caballo que circulaba entre los barrios de Las Cañitas y Retiro, hasta que en el año 1945 ancló en Palermo y abrió su local en la calle Gorriti 5630.</h4>
                <h4>Desde hace muchos años, las hermanas Marcovecchio, sus herederas, atienden el local, lugar favorito de productoras, arquitectos y decoradores que acuden en búsqueda de soluciones en mimbre ratán o caña para sus mas variados proyectos, cautivados por la personalidad de estas mujeres que ya cuentan con mas de 80 años.</h4>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs') %>
    <%- include('../partials/footer')  %>
</body>
</html>