<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Nuestra Historia</h2>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <h4>Mimimbrería está en manos de las hermanas Marcovecchio, descendientes de una familia italiana que inmigró al país a principios del siglo XX, plenos de sueños e ilusiones.</h4>
                <h4>Su padre, Liborio Marcovecchio a poco de llegar a Argentina comenzó a confeccionar y vender canastas y sillas de mimbre por la calle, con un carro tirado a caballo que circulaba entre los barrios de Las Cañitas y Retiro. En 1950 fundó Mimimbrería en el local que funciona hasta el día de hoy, en la calle Gorriti 5630, del Barrio de Palermo de la Ciudad de Buenos Aires.</h4>
                <h4>Mimimbrería es símbolo de unión. Un símbolo que refleja un nuevo comienzo, una nueva apuesta, una nueva mirada. Un símbolo que se convierte en el motor para crecer, soñar, crear, desarrollar y desarrollarse. Es la historia de un inmigrante italiano trabajando con productos locales.</h4>
                <h4>En Mimimbrería creamos muebles de vanguardia para el hogar de manera 100% artesanal. Nos focalizamos en ser referentes en diseño mobiliario. Nuestra misión es ayudar a crear hogares únicos y especiales; hogares que acompañan desde la armonía, la flexibilidad y la identidad.</h4>
                <h4>Te ofrecemos atención personalizada, calidad y satisfacción para que quieras volver a elegirnos.</h4>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs') %>
    <%- include('../partials/footer')  %>
</body>
</html>