<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Tu Huella de Carbono</h2>
        </div>
        <hr>
        <div class="container">
            <p>
            <h4>El efecto invernadero es un fenómeno natural que contribuye a generar las condiciones para que nuestro planeta pueda existir la vida. Es un proceso natural mediante el cual la energía solar que recibe la Tierra durante el día a través de los rayos solares no retorna completamente al espacio porque son contenidos por los gases de efecto invernadero que forman una capa que no permite que este calor se vaya. De esta manera la temperatura promedio en el planeta es de 15º C, sin estos gases de efecto invernadero en la atmosfera sería de sólo -18°, lo que limitaría en cantidad y variedad a las comunidades de seres vivos del planeta Tierra.</h4>
            </p>
            <p>
                <h4>Son varios los gases en nuestra atmósfera que contribuyen a crear este efecto invernadero que hace que la temperatura en nuestro planeta resulte ideal para la vida de todas las especies, pero ¿qué pasa si uno o varios de estos gases aumenta su concentración en la atmósfera? Si se acumulan los gases que impiden que vuelva al espacio el calor producido durante el día por los rayos del sol sobre la superficie terrestre, el planeta se sobre calienta, desapareciendo esas condiciones ideales para el desarrollo de la vida tal como la conocemos. Desde la segunda mitad del siglo XX, procesos relacionados con la producción y el consumo de petróleo y sus derivados, la deforestación de bosques y el arrase de ecosistemas marinos han incidido notablemente en que el índice de concentración de dióxido de carbono (CO2) en la atmósfera se haya incrementado en un 40%.</h4>
            </p>
            <p>
                <h4>Al aumentar la concentración de CO2 por la acción de los seres humanos, la atmósfera captura más calor de lo que necesita nuestro planeta, lo cual produce grandes agujeros en la capa de ozono, lo que permite que la radiación solar penetre con mayor intensidad al planeta Tierra, trayendo las siguientes consecuencias:</h4>
            </p>
            <div class="row justify-content-baseline">
                <div class="col-md-8">
                    <img src="/img/tuhuella.jpg" alt="Tu Huella de Carbono">
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><h5>Deshielo de los polos</h5></li>
                        <li><h5>Incremento de las temperaturas</h5></li>
                        <li><h5>Inundaciones</h5></li>
                        <li><h5>Tormentas</h5></li>
                        <li><h5>Desertificación</h5></li>
                        <li><h5>Migraciones de especies</h5></li>
                    </ul>
                </div>
            </div>
            <p>
                <h4>Se llama usualmente “Huella de Carbono” a la cantidad de CO2 que deja en la atmósfera las diferentes actividades humanas. Si bien la mayor responsabilidad les cabe a los países y empresas, cada uno de nosotros deja una huella de carbono que se acumula a lo largo de los años, introducir pequeños cambios en nuestras rutinas y nuestros hábitos de consumo contribuye a que nuestro planeta sea habitable por más años. Algo que podemos hacer es usar más la bicicleta como medio de transporte, consumir menos carne vacuna o bovina o utilizar muebles realizados con fibras naturales como el mimbre son una excelente forma de contribuir a disminuir la huella de carbono en nuestro planeta. </h4>
            </p>
            <p>
                <h4>¿Querés saber cuál es tu huella de carbono? Acá te dejamos una calculadora de huella de carbono personal para que hagas tu cálculo y veas cómo podés compensarla.</h4><br><br>
            </p>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <iframe width="710" height="500" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="https://calculator.carbonfootprint.com/calculator.aspx?lang=es"></iframe>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs') %>
    <%- include('../partials/footer')  %>
</body>
</html>