<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container-fluid">
        <div class="seccion-titulos">
            <h2>Video Artesan@s</h2>
        </div>
        <hr>
        <div class="container">
            <p>
                <h4>Por la manera en que se cultivan las fibras naturales como el mimbre y c칩mo se producen, su huella de carbono es menor que la de otros materiales. As칤, como cada vez somos m치s conscientes de la importancia que tienen nuestros gestos en todos los 치mbitos en el cuidado del planeta, se impone con consciencia el consumo de muebles y decoraci칩n en general sostenible. Productos que durante su fabricaci칩n sean responsables con el medio ambiente y que sean duraderos para que tengan una larga vida y se puedan usar muchos a침os, reutilizar y reciclar.</h4>
            </p>
            <p>
                <h4>El mimbre se emplea tanto para decoraciones de interiores, como dise침os de exterior motivado por los aportes en calidez, modelo y funcionalidad. Cada artesan칤a es una pieza 칰nica y de mucho valor, porque ha sido creada con mucho tiempo, dedicaci칩n y amor por un artesano. </h4>
            </p>
            <p>
                <h4>Mir치 como trabajan nuestros artesanos.</h4>
            </p>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <iframe width="720" height="406" src="https://www.youtube.com/embed/rlVBtFD7sD4" title="PAS칍 A PASO COMO TEJER MUEBLES EN MIMBRE 游빘" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/bs') %>
    <%- include('../partials/footer')  %>
</body>
</html>